@import "../utils/variables.scss";

nav{
    background-color: $azulClaro;
    width: 100%;
    display: block;
    max-width: 100%;
    padding: 40px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 26px 4px rgba(10,19,97,1);
    -moz-box-shadow: 0px 0px 26px 4px rgba(10,19,97,1);
    box-shadow: 0px 0px 26px 4px rgba(10,19,97,1);

    &>ul{
        margin: 0px 20px;
        padding: 0px;
        display: flex;
        justify-content: space-around;
        
        &>li{
            display: flex;
            font-size: 80%;
            
        }
    }


}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}