.servicios{
    &>h2{
        text-align: center;
        padding: 40px;
        font-size: 40px;
    }
}
@media (max-width: 768px){
    .servicios{
        &>h2{
            font-size: 30px;
        }
    }
}